*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 500px;
    background-color: burlywood
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    width: 100vw;
    height: 100px;
    padding:20px;
    box-sizing: border-box;
    background-color: rgb(237, 100, 221);
    position: relative;
}

#nav{
    display: inline-block;
    position: absolute;
    background-color: black;
    border-radius: 50px;
    bottom: 5px;
    right: 1%;
}
 

#nav_list li{
    display: inline-block;
}



#nav_list a{
    text-decoration: none;
    color: #fff;
    line-height: 45px;
    padding: 0 10px;
    display: inline-block;
}

#nav_list li:hover a{
    color: black;
    background-color: white;
}

#search_box{
    position: absolute;
    background: #fff;
    height: 30px;
    padding: 5px;
    border-radius: 40px;
    display: inline-block;
    top: 6px;
    right: 5%;
    justify-items: center;
}

#search_box input{
    background: none;
    border: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 20px;
    line-height: 10px;
    width: 0px;
    transition: all 0.9s;
}

#search_box:hover input{
    width: 200px;
    padding:  0 6px;
}

.search-box input:focus{
    width: 200px;
    padding: 0 6px;
}

.search_button{
    background: none;
    outline: none;
    border: none;
    width: 10px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search_button i {
    background: #1b2a49;
    z-index: 1;
    font-size: 20px;
    color: #fff;
    padding: 10px; 
    border-radius: 50px;
}

#account{
    position: absolute;
    background: none;
    height: 30px;
    /* width: 40px; */
    padding: 5px;
    border-radius: 40px;
    display: inline-block;
    top: 4px;
    right:1%;
    justify-items: center;
}

#account .sign_in_button{
    background: none;
    border: none;
    font-size: x-large;
}

#account .sign_in_button a{
    text-decoration: none;
}

#account .sign_in_button i{
    /* color:rgb(31, 236, 96); */
}


#account .sign_in_button:hover .i_log1 {           /*trỏ vào log1 thì biến mất*/
    font-size: 0px; 
}

#account .sign_in_button .i_log2 {              /*cài đặt log2*/
    font-size: 0;
} 

#account .sign_in_button:hover .i_log2 {           /*trỏ vào log1 thì biến mất log2 xuất hiện*/
    font-size: x-large;

}





